<!-- 
<ul class="nav">
        <li class="nav-item">
                <a class="nav-link active" href="javaScript()" routerLink="home">Home</a>
              </li>
    <li class="nav-item">
        <a class="nav-link active" href="javaScript()" routerLink="form">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="javaScript()" routerLink="data">StudentData</a>
      </li>
      </ul> --> 
          <div class="container">
        
            
            <img class="Images" src="C:\Users\manoj\Desktop\Student_Project\src\app\Images\maxresdefault.jpg"  style="float:right" width="386" height="400">
          </div>

      <h1> Banner Student  </h1> 

       <p>  Today's students are more diverse than ever before, and their needs are more complex. From admissions, registration, and
      curriculum management to advising and assessment, Banner Student can help you deliver the kinds of experiences that keep
      your students engaged and on track for success. </p>  

      <h2> Colleague Student and Financial Aid  </h2> 
                <p>Students all start their educational journey with different needs, expectations, and outcomes, so the more you know about
                them the better you can help them with a successful academic experience. From admissions and registration, to academic records
                and curriculum management, Colleague® Student and Financial Aid helps you understand and engage your students. Advising and
                degree audit tools help you keep students on track, whether your institution uses a traditional, one-on-one format, impromptu
                advising sessions, online self-advising, or a combination of several techniques. And, with contemporary student self-service
                options, you’ll be able to deliver the quality of service they expect. Colleague Student and Financial Aid also provides
                the flexibility you need to address a more diverse enrollment, as well as traditional and nontraditional education programs. </p>


                <h3> Power Campus by JNIT </h3> 
                        <P> Institutions of all sizes must manage extensive processes, from admissions and financial aid to records, finance, and human
                        resources. 
                        As a complete higher education ERP, PowerCampus by JNIT Technologies helps small and mid-sized colleges and universities
                        improve communications, simplify administrative tasks, and deliver better services across their institutions.</P>