<!-- Student firstname:{{Student.fname}}
<br>
Student middlename:{{Student.mname}} 
<br>
Student lastname:{{Student.lname}} 
<br>
Student id:{{Student.id}}   -->


<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="javaScript()" routerLink="home">Home</a>
      </li>
     
    <li class="nav-item">
        <a class="nav-link active" href="javaScript()" routerLink="form">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="javaScript()" routerLink="data">StudentData</a>
      </li>
      </ul>
